<!DOCTYPE html>
<%
const isProduction = process.env.NODE_ENV === 'production';
const title = 'Weight loss tracker - Bodytracker';
const description = 'The weight loss tracker that gives you helpful stats and visualizations to motivate and help you along the way. Take full control of your body goals. Made in Canada.';
const url = "https://www.bodytracker.ca";
const image = 'https://bodytracker.ca/assets/share.png';
%>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="/assets/measuring-tape.png" />

		<!-- HTML Meta Tags -->
		<title><%= title %></title>
		<meta
			name="description"
			content="<%= description %>"
		/>
		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="<%= url %>" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="<%= title %>" />
		<meta
			property="og:description"
			content="<%= description %>"
		/>
		<meta
			property="og:image"
			content="<%= image %>"
		/>
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="bodytracker.ca" />
		<meta property="twitter:url" content="<%= url %>" />
		<meta name="twitter:title" content="<%= title %>" />
		<meta
			name="twitter:description"
			content="<%= description %>"
		/>
		<meta
			name="twitter:image"
			content="<%= image %>"
		/>

		<link rel="stylesheet" href="css/main.css" />
		<% if (isProduction) { %>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script
				async
				src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS_MEASUREMENT_ID %>"
			></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag() {
					dataLayer.push(arguments);
				}
				gtag('js', new Date());

				gtag('config', '<%= process.env.GOOGLE_ANALYTICS_MEASUREMENT_ID %>');
			</script>
			<script src="https://analytics.ahrefs.com/analytics.js" data-key="4jvYzBngrGWRMKaEhG2jTQ" async></script>
		<% } %>
	</head>
	<body>
		<section class="hero is-medium is-primary">
			<div class="hero-body">
				<div class="container">
					<div class="columns is-vcentered is-desktop">
						<div class="column is-one-third-desktop">
							<h1 class="title">The weight loss tracker that puts you in control.</h1>
							<h2 class="subtitle">
								Track with Bodytracker and get helpful stats and visualizations
								that motivate progress. Made in Canada 🇨🇦
							</h2>
							<a
								class="button is-primary is-large is-inverted"
								href="https://app.bodytracker.ca"
								id="hero-cta"
							>
								Start tracking for free →
							</a>
						</div>
						<div class="column">
							<div class="columns is-centered is-desktop">
								<div class="column is-two-thirds-touch mx-auto">
									<img
										src="/assets/hero-1.png"
										alt="Bodytracker with stats showing weight loss for the past week, month, and 3 months"
									/>
								</div>
								<div class="column is-two-thirds-touch mx-auto">
									<img
										src="/assets/hero.png"
										alt="Bodytracker with charts showing weight loss over a month"
									/>
								</div>
								<div class="column is-two-thirds-touch mx-auto">
									<img
										src="/assets/hero-2.png"
										alt="Bodytracker with history entries that compare weight loss weekly"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer has-text-centered">
			<div class="container">
				<a href="https://tweeres.ca">&copy; Tyler Weeres</a>
			</div>
		</footer>
		<% if (isProduction) { %>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				document
					.getElementById('hero-cta')
					.addEventListener('click', function (e) {
						gtag('event', 'clicked_cta', {
							event_callback: function () {
								document.location = e.target.href;
							},
						});
					});
			});
		</script>
		<% } %>
	</body>
</html>
